  = content_tag :div,
    '',
    id: "vote-#{entities_name}-#{votable.id}",
    class: "vote #{votable.vote_state(current_user.id) if user_signed_in?}"
    = link_to upvote_path,
      class: 'vote-link upvote-link',
      method: :post,
      remote: true,
      data: { type: :json }
        i class='glyphicon glyphicon-chevron-up'
    .score
      = votable.total_score
    = link_to downvote_path,
      class: 'vote-link downvote-link',
      method: :post,
      remote: true,
      data: { type: :json }
        i class='glyphicon glyphicon-chevron-down'
