default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: just-ask_development

test:
  <<: *default
  database: just-ask_test

production:
  <<: *default
  database: just-ask_production
  username: just-ask
  password: <%= ENV['JUST-ASK_DATABASE_PASSWORD'] %>
