/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.username {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  background-color: #f8f8f8;
  border-color: #b6b6b6;
  padding: 3px;
}
